
h1 {
    font: size 36px;
    font-family:'LMSansQuot8-Regular', monospace;
    color: white;
}
h2 {
    font: size 28px;
    font-family:'LMSansQuot8-Regular', monospace;
    color: white;
}
p {
    font-size: 16px;
    font-family: 'LMSansQuot8-Regular', monospace;
    color: white;
}

ul {
    font-size: 14px;
    font-family: 'LMSansQuot8-Regular', monospace;
    color: white;
}

a {
    font-size: 12px;
    font-family: 'LMSansQuot8-Regular', monospace;
    color: darkslategray;
}