body{
    font-family: 'Creato Display', Arial, sans-serif;
    color: rgb(255, 255, 255); 
    height: 100vh;
    width: 100vw;
    background-color: rgb(27, 23, 23);
    margin: 0rem;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 23, 23); /* Black background */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 2000ms linear;
    z-index: 1000; /* Ensure it covers all content */
}

/* Style for the loading percentage text */
#loading-percentage {
    color: white; /* White text color */
    font-size: 2rem; /* Font size */
    font-weight: bold;
    transition: opacity 750ms linear; 
}

#introductions{
    display: flex;
    gap: 3vmin;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}


#introductions > a {
    display: inline-block; /* Make links inline-block to allow sizing */
    width: 40vmin; /* Fixed width for each link */
    height: 56vmin; /* Fixed height for each link */
    overflow: hidden; /* Hide overflow of images */
    position: relative;
}

#introductions > a .img {
    width: 40vmin; /* Fixed width for each image */
    height: 56vmin; /* Fixed height for each image */
    object-fit: cover; /* Ensure images cover the specified dimensions */
    object-position: 100% 50%;

}

/* Regular */
@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Regular Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Light */
@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Light Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Bold Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Extra Bold */
@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Extra Bold Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

h1 {
    font-family: 'Creato Display', Arial, sans-serif;
    font-weight: bold;
    color: white;
}